html
	body
		h1 Bad Neighbor
		p Bonjour #[b #{username}],
		p Le mot de passe de votre compte a été modifié le #[b #{today}] depuis l'IP #[b #{ip}].
		p Si vous n'êtes pas l'auteur de cette modification, il est temps de vous inquiéter, bordel !
			ul
				li
					| Va donc vérifier cela sur ta 
					a(href=account) page de configuration
		p Si non, tout roule.
