extends ../../layouts/default

block content
	#forum-page.container: .jumbotron

		include header

		h3=forum.name
		h5!=forum.description

		#forum-topic-create.alert
			div Écrire un nouveau sujet
			hr

			.form-group
				label Sujet
				input(type='text' id="topic-field").form-control

			.form-group
				label Message
				textarea(rows=10 id="topic-content").form-control
			
			if forum.tags && forum.tags.length
				label Marqueur
				select.form-control(name='tag')
					option(value="none") Aucun
					each tag in forum.tags
						option(value=tag.id)= tag.name
			
			.form-actions
				button(id="draft-button" disabled).btn.btn-primary Sauvegarder le brouillon
				button(id="create-button" forumId=forum.id).btn.btn-primary Envoyer
		

block js
	link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
	script(src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js")
	script(src="/js/notify.min.js")
	script(src="/compiled/ForumTopicCreateLogic_client.js")
