extends ../../layouts/default

block content
	#forum-page.container: .jumbotron

		include header
			
		if forum
			
			h3=forum.name
			h5=forum.description
				
			#forum-categories
				
				.head-foot
					//TODO: afficher bouton uniquement si droit de post
					a(href="/forum-topic-create/" + forum.key).btn.btn-default Nouveau sujet
					.right
						if totalPages > 1
							include pager

				if announcements && announcements.length
					.forum-group
						.forum-group-title
							span
								i(class="fa fa-caret-right")
								| Annonces
						each topic in announcements
							include forum_topic_vignette
				
				.forum-group.alone
					.forum-group-title
						span
							i(class="fa fa-caret-right")
							| Sujets
						span.right Total sujets : #{totalTopics}
					
					if topics.length
						each topic in topics
							include forum_topic_vignette
					else
						.empty Aucun sujet dans ce forum
							
				.head-foot
					//TODO: afficher bouton uniquement si droit de post
					a(href="/forum-topic-create/" + forum.key).btn.btn-default Nouveau sujet
					.right
						if totalPages > 1
							include pager

		else
			
			.alert.alert-danger 
				h4 404: Forum '#{forumKey}' introuvable
				p Désolé, ce forum n'existe pas, ou plus.
				p: a(href="/forums") Retour à l'accueil des forums
