#forum-header
	a(href="/forums")
		i(class="fa fa-home")
		| Index des forums
	if breadcrumbs
		each breadcrumb, i in breadcrumbs
			i(class="fa fa-angle-double-right")
			if breadcrumb.url
				a(href=breadcrumb.url)= breadcrumb.text
			else
				span= breadcrumb.text
	hr
	a
		i(class="fa fa-search")
		| Rechercher
	| • 
	a
		i(class="fa fa-eye")
		| Voir les messages non lus
	| •
	a
		i(class="fa fa-check-square-o")
		| Marquer tous les forums comme lus
