extends ../../layouts/default

block content
	#recrutement-page.container: .jumbotron
		
		h2 Qui sont les Bad Neighbor en vrai ?
		.alert.alert-bn!= (text1 || "Configurer un contenu avec clé: recrutement-qui")
		
		h2 Recrutement
		.alert.alert-bn!= (text2 || "Configurer un contenu avec clé: recrutement-reglement")
			
		if !user
			.alert.alert-bn
				center
					| Déjà, commence par te 
					a(href="/auth?from=/recrutement"): b créer un compte et connecte-toi
					| .
		else
			h3 Enrôlement
			hr
			h4 Le joueur
			.row
				.col.col-md-6
					.input-group
						span.input-group-addon Prénom / Pseudo #[small (*)]
						input.form-control(type="text" id="field-player-first" placeholder="Qui es-tu ?")
				.col.col-md-6
					.input-group
						span.input-group-addon Age #[small (*)]
						input.form-control(type="text" id="field-player-age" placeholder="Jeune pucelle ou vieux débris ?")
			.row
				.col.col-md-6
					.input-group
						span.input-group-addon Matos
						input.form-control(type="text" id="field-player-matos" placeholder="Joystick, clavier-souris, gamepad ?")
				.col.col-md-6
					.input-group
						span.input-group-addon Jeu principal #[small (*)]
						input.form-control(type="text" id="field-player-pledge" placeholder="Sur quel jeu veux-tu nous rejoindre ?")
			.row
				.col.col-md-12
					.input-group
						span.input-group-addon Fréquence de jeu
						input.form-control(type="text" id="field-player-frequence" placeholder="Heures moyennes en semaine, week end ..etc.")
			.row
				.col.col-md-12
					.input-group
						span.input-group-addon Expérience MMO
							br
							| Jeux et Space Sim
						textarea.form-control(id="field-player-experience" rows=4 placeholder="Raconte-nous ton parcours de gamer.")
			.row
				.col.col-md-12
					.input-group
						span.input-group-addon D'où BN ? #[small (*)]
						input.form-control(type="text" id="field-player-where" placeholder="C'est vrai ça, comment tu nous a trouvé ?")
						
			.row
				.col.col-md-12
					.input-group
						span.input-group-addon Info particulières
						textarea.form-control(id="field-player-info" rows=3 placeholder="Si joueur de nuit, localisation géographique, etc...")

			.row
				.col.col-md-12
					.input-group
						span.input-group-addon Candidature #[small (*)]
						textarea.form-control(id="field-player-candidature" rows=6 placeholder="Ta candidature, pourquoi on devrait t'accepter, ce que tu pense nous apporter, etc... Bref, défends toi un peu, merde ! Si tu postule pour Star Citizen, explique nous ce que tu souhaites y faire comme activités.")
			
			.row
				.col.col-md-12
					p #[small (*) informations obligatoires et minimum. Mais cela ne veut pas dire que les autres informations sont moins importantes pour autant...]
						
			hr
			h4 Star Citizen
			.alert.alert-warning
				.row
					.col.col-md-2
						img(src="/images/star_citizen_big.png")
					.col.col-md-10
						p Si tu postules pour Star Citizen, nous insistons sur le fait que tu prennes le temps de réfléchir à ton personnage #[b avant] de postuler.
						p 
							a(href="/account" target="_blank"): b Toutes les informations à propos de ton personnage sont à compléter dans tes paramètres de compte: #[br]("Paramètres des jeux" en bas de page).

			hr
			.alert.alert-bn: center
				p Une fois envoyée, ta candidature sera visible par tous les BN qui viendront gentillement (ou pas) te donner leur avis et te poser des questions.
				p Si tu survis à la meute, un recruteur prendra contact avec toi pour fixer un rendez-vous sur TS.
				p Donc même si tu pourras encore la modifier par après, prends bien le temps de la relire avant de balancer la sauce.
				bouton.btn.btn-default(id="send-button") Je suis sûr de moi: je balance la sauce !

block js
	script(src="/compiled/RecrutementLogic_client.js")
