#message-edit-modal.modal.fade(role='dialog')
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal') ×
				h4.modal-title Modifier message
			.modal-body
				.form-group(id="reply-section")
					.alert.alert-bn
						label Message
						+editor("message-edit-field", 10)
				
				if rightKeysSet && rightKeysSet.has("image-library")
					.btn-group
						a.btn.btn-default.btn-group-sm(onclick="window.open('/library', '_blank'); return false;") Librairie d'images

			.modal-footer
				button.btn.btn-default(type='button' data-dismiss='modal') Annuler
				button.btn.btn-primary(type='button' id="message-edit-modal-button") Sauvegarder
