extends ../../layouts/default

block content
	.container: .jumbotron

		h3 Mon compte
		
		h4 Mes fichiers
		#uploader

			
block js
	include ../../upload/include_js
		
block css
	include ../../upload/include_css
