extends ../../layouts/default

block content
	.container: .jumbotron

		h3 Authentification
		
		form
			.form-group
				label(for='email') Email address
				input#email.form-control(type='email', placeholder='Email')
			.form-group
				label(for='password') Password
				input#password.form-control(type='password', placeholder='Mot de passe')
			button.btn.btn-default(type='submit') Connexion
		
		a.btn.btn-link(href="/inscription") Pas encore de compte ? Inscrivez-vous !
