extends ../../layouts/default

block content
	.container: .jumbotron

		h3 Chat
		p Voyez ce qui se trimbale sur notre channel Discord (25 derniers messages).
		p Vous voulez nous causer ? Rejoignez nous !
		
		hr
		
		each message in mess
			.message
				| [#{dateformat(message.createdAt, "HH:MM")}] 
				b= message.author
				|  dit: #{message.content}
