extends ../../layouts/default

block content
	.container
		
		#banner-carousel(class="carousel slide" data-ride="carousel")
			ol(class="carousel-indicators")
				li(data-target="#banner-carousel" data-slide-to="0" class="active")
				li(data-target="#banner-carousel" data-slide-to="1")
				li(data-target="#banner-carousel" data-slide-to="2")
				
			div(class="carousel-inner" role="listbox")
				div(class="item active")
					.content
						h2.title Les entrainements reprennent !
						h5.sub Les faucheurs se retrouvent pour devenir les meilleurs. 
							b: a Lire la suite ...
					img(src="http://www.arkalium.com/wp-content/uploads/2015/11/Screenshot_41.jpg")
					div(class="carousel-caption")
	
				div(class="item")
					.content
						h2.title Les BNs à la GamesCom 2017
						h5.sub Kaji et Dashan ont fait boire Erin. Il a vomi. 
							a Lire la suite ...
					img(src="https://blogs-images.forbes.com/insertcoin/files/2017/01/star-citizen-new1.jpg")
					div(class="carousel-caption")

				div(class="item")
					.content
						h2.title Fistou démissionne
						h5.sub "J'en ai marre de vos conneries". Les dernières paroles d'un chef respecté. 
							a Lire la suite ...
					img(src="https://i.ytimg.com/vi/TTGJOC0stus/hqdefault.jpg")
					div(class="carousel-caption")
						
			a(class="left carousel-control" href="#banner-carousel" role="button" data-slide="prev") 
				span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
				span(class="sr-only") Précédent
				
			a(class="right carousel-control" href="#banner-carousel" role="button" data-slide="next") 
				span(class="glyphicon glyphicon-chevron-right" aria-hidden="true")
				span(class="sr-only") Suivant
			
		
		#right
			ul(class="list-group")
				.list-group-item.list-group-item-success
					h4 Bonjour [XXX] !
					ul
						li: a 2 Nouveaux messages privés
						li: a 4 Invitations évènements en attente
						li: a 7 Messages forum non-lus
					
				.list-group-item.list-group-item-warning
					h4 Prochains évenements
					ul
						li: a 24/05: Entrainement faucheur
						li: a 26/05: Attaque base Sybilla
						li: a 15/06: Capture de Riddik

				.list-group-item.list-group-item-info
					h4 Messages forum non-lus
					ul
						li: a "Bouger vous le cul", par Fistou
						li: a "ATV juin", par Hiblich
						li: a "Idris à vendre, je suis fauché", par Tucco
				
				.list-group-item.list-group-item-danger
					h4 Chat Discord
					ul
						li: a Ren dit : J'ai mangé une pomme
						li: a Fistou dit : Ta gueule
						li: a Roken dit : Ta gueule
						li: a Tucco dit : Ta gueule
						
			ul(class="list-group")
				.list-group-item
					h4 Article xxx
					p Contenu ...
					
				.list-group-item
					h4 Article xxx
					p Contenu ...
					
				.list-group-item
					h4 Article xxx
					p Contenu ...
					
			ul(class="list-group")
				.list-group-item
					h4 Des trucs
					p C'est pas la place qui manque.

				.list-group-item
					h4 Des trucs
					p C'est pas la place qui manque.

				.list-group-item
					h4 Des trucs
					p C'est pas la place qui manque.
				
		#left
			if articles && articles.length
				each article in articles
					.article.jumbotron
						h3: a(href="/article/" + article.key)= article.name
						a(href="/article/" + article.key): b
							| #{dateformat(article.createdAt, "dd mmmm yyyy")} | #{article.stats.replies} commentaires | Posté par #{article.createdBy.username}
						.content
							if article.first.content.length > 400
								!= article.first.content.substring(0, 400)
								|  ... 
								br
								a(href="/article/" + article.key): b Lire la suite ...
							else
								!= article.first.content
			else
				.jumbotron Pas d'article, repassez plus tard !
