extends ../../layouts/default

block content
	#articles.container: .jumbotron

		if articles && articles.length
			each article in articles
				h4
					a(href="/article/" + article.key)= article.name
					small
						a(href="/article/" + article.key)
							b #{dateformat(article.createdAt, "dd mmmm yyyy")} | #{article.stats.replies} commentaires | Posté par #{article.createdBy && article.createdBy.username || "?"}
				hr
		else
			p Pas d'article, repassez plus tard !
