extends ../../layouts/default

block content
	
	#characters.container: .jumbotron

		center
			h3 Liste des criminels
			img(src="/images/mccoy.png")
			each player in players
				include character_vignette
