.character-vignette
	a(href="/member/" + player.key): img.avatar(src="/images/avatar-" + player.key)
	
	.name= player.starCitizen.character.full
	
	if player.starCitizen.jobs
		.jobs
			each job in player.starCitizen.jobs
				| &nbsp;
				span.label.label-warning= job.name
