extends ../../layouts/default

block content

	#fleet.container: .jumbotron

		h3 La flotte des Bad Neighbor
			br
			small Cette page n'est visible que pour les membres BN
		hr
		each ship in shipNames
			h5 #{ship} (#{shipMap[ship].length})
			.members
				each user in shipMap[ship]
					a(href="/member/" + user.key): span.label.label-primary #{user.username}
			hr
