extends ../../layouts/default

block content
	.container: .jumbotron
		
		h2= (content && content.name) || "Mc Coy"
		p!= (content && content.contenu) || "Configurez dans l'admin un contenu générique avec la clé 'mccoy'."
		
		hr
		iframe(src="/BN12.html" width="100%" height="720")
