extends ../../layouts/default

block content
	
	#version.container: .jumbotron

		.panel.panel-default
			.panel-heading
				h4 Générateur de signature BN
			.panel-body
				img(src="/ftp/signs/done.png")

		
