extends ../../layouts/default

block content
	
	#version.container: .jumbotron

		.panel.panel-default
			.panel-heading
				h4 Version 3.0.5
			.panel-body
				ul
					li Fix bug général sous IE 11
					li Fix bug quand on arrivait sur un topic sans être authentifié
					li Fix bugs pagination d'un topic
					li Fix bug d'outils de modération

		.panel.panel-default
			.panel-heading
				h4 Version 3.0.4
			.panel-body
				ul
					li Ajout description d'auteurs d'article
					li Préparation de la page d'un membre pour être multi-jeu
					li Affichage des adresses IP des posteurs forum (droit de modération nécessaire)
					li Système de template de sujet
					li Le rendu "preview" de l'éditeur markdown est maintenant correct et cohérent avec l'affichage final
					li Administration: Librairie d'images
					li Administration: édition de contenu générique
					
		.panel.panel-default
			.panel-heading
				h4 Version 3.0.3
			.panel-body
				ul
					li Améliorations diverses sur l'affichage mobile.
					li Animations sur mobile pour la navigation forum.
					li Correction apportée au calcul du nombre de vues par sujet.
					li Correction apportée aux liens vers le dernier message d'un sujet.

		.panel.panel-default
			.panel-heading
				h4 Version 3.0.2
			.panel-body
				ul
					li Refonte de la page de #[a(href="/members") #[b Membres]].
					li Le logo redirige vers l'accueil, pour Hiblich.
					li Le bouton "citer" scroll la page jusqu'en bas.

		.panel.panel-default
			.panel-heading
				h4 Version 3.0.1
			.panel-body
				ul
					li Ajout de l'édition de sujet (titre/themes). Il faut être l'auteur du sujet ou avoir les droits de modération dans le forum.
					li Ajout des statistiques en bas de la page des forums.
					li Ajout de la page de versions. Vous êtes en train de la lire.
					li Affichage des thèmes sur la page d'un sujet.
					li Changement de l'avatar par défaut.
					li Ajout de la liste des derniers actifs en bas des forums.
					li Correction de la date de dernière activité qui est maintenant beaucoup plus précise.

		.panel.panel-default
			.panel-heading
				h4 Version 3.0.0
			.panel-body
				ul
					li Première version pour les BN evocati
