extends ../../layouts/default

block content
	
	#version.container: .jumbotron

		.panel.panel-default
			.panel-heading
				h4 Version 1.1 #[small 31-05-2019]
			.panel-body
				ul
					li Grosse mise à jour de toutes les librairies. Passage à KeystoneJS v4.
					li Retrait de l'option d'annonce d'un événement sur Discord à sa création. Ajout d'une action d'annonce manuelle à la place.
					li Notification aux inscrits lors de la suppression d'un événement calendrier.
					li Citer sur les forums n'efface plus le contenu déjà présent de la boite de réponse. Cela permet de plus facilement multi-citer.
					li Les anniversaires ne devraient plus vieillir les gens plus que nécessaire. ^^'
					li Possibilité d'envoyer un court message aux inscrits d'un événement.

		.panel.panel-default
			.panel-heading
				h4 Version 1.0.16 #[small 11-04-2018]
			.panel-body
				ul
					li Possibilité de marquer comme lus les messages d'un forum particulier.
					li Possibilité pour les modérateurs d'annoncer un sujet sur Discord.
					li Correction de bugs dans le calendrier. Amélioration du formulaire de création/modification d'un évènement.
					li Calendrier: Notification d'inscription pour l'auteur.
					li Détection des @mention dans les messages et notification sur Discord.

		.panel.panel-default
			.panel-heading
				h4 Version 1.0.15 #[small 20-02-2018]
			.panel-body
				ul
					li Ajout d'une fonctionnalité de réinitialisation de mot de passe sur la page de login.

		.panel.panel-default
			.panel-heading
				h4 Version 1.0.14 #[small 18-02-2018]
			.panel-body
				ul
					li Réactions rapides aux messages forums.
					li Améliorations visuelles aux inscriptions calendrier.
					li Fix d'un XSS au niveau du calendrier.

		.panel.panel-default
			.panel-heading
				h4 Version 1.0.13 #[small 16-02-2018]
			.panel-body
				ul
					li Amélioration de l'éditeur de texte.
					li Système d'inscriptions aux événements calendrier.

		.panel.panel-default
			.panel-heading
				h4 Version 1.0.12 #[small 13-02-2018]
			.panel-body
				ul
					li Ajout des boutons de partage sur les pages d'articles.
					li Ajout de liens directs vers les messages des topics (via la date du message).
					//li Application #[a(href="/mccoy") Mc Coy] !
					li La recherche de GIFs !!!

		.panel.panel-default
			.panel-heading
				h4 Version 1.0.11 #[small 12-02-2018]
			.panel-body
				ul
					li Fix problème d'affichage des noms sous Firefox sur la page de personnages SC.
					li Les personnages sans prénom/nom n'apparaissent pas sur la page de personnages SC.
					li Fix d'un bug dans les citations sur le forum.
					li Fix d'un bug serveur permettant à Belalkazar de voler la page de membre de Kazar !
					li Chris Roberts le bot fait désormais une annonce Discord à la publication d'un article.
					li Seul les membres BN apparaissent désormais sur la liste des personnages.

		.panel.panel-default
			.panel-heading
				h4 Version 1.0.10 #[small 11-02-2018]
			.panel-body
				ul
					li Release en production ! 🥂🍾

		.panel.panel-default
			.panel-heading
				h4 Version 1.0.9 #[small 01-02-2018]
			.panel-body
				ul
					li Droits d'ajout des thèmes aux sujets.
					li Ajout de validation aux dates de calendrier.
					li Ajout de la modification d'un événement calendrier.
					li Nombreuse améliorations graphiques au calendrier.
					li Fix date de naissance dans les paramètres du compte.
					li Fix "Marquer tous les forums comme lus" depuis la page de recherche.
					li Fix longs textes sans espaces dans les commentaires forums/articles.
					li Fix bug forum lié pour résultats de recherche.

		.panel.panel-default
			.panel-heading
				h4 Version 1.0.8 #[small 17-01-2018]
			.panel-body
				ul
					li Détection de liens dans annonces discord.
					li Fix des liens RSI dans candidature.
					li Slinker au pixel près pour le menu.
					li Fix des liens origin/bnet/ea (qui ne sont désormais plus des liens).
					li Fix date de naissance dans les paramètres du compte.
					li Fix expiration cookie de connexion.

		.panel.panel-default
			.panel-heading
				h4 Version 1.0.7 #[small 06-01-2018]
			.panel-body
				ul
					li Fix bug de la balise d'insertion youtube.
					li Ajout de ReCAPTCHA pour la vérification anti-bot.
					li Changement des textes "Sélection des forums".
					li Fix d'un bug de rendu sur la home page.
					li Ajout du #[a(href="/content/guide-markdown") Guide Markdown].
					li Amélioration du responsive mobile.

		.panel.panel-default
			.panel-heading
				h4 Version 1.0.6
			.panel-body
				ul
					li Fix bug affichage des tables sur page d'un article.
					li Cacher les éléments qui ne seront pas prêts pour la release (brouillon, calendrier ...).
					li Abandon de l'éditeur Markdown SimpleMDE pour un système maison car l'ancien éditeur ne gère pas la correction orthographique.
					li Normalisation de l'affichage des groupes BN et affichage du groupe principal.
					li Fix bug de sécurité avec les thèmes.
					li Affichage des annonces Discord sur la racine des forums.
					li Polish de la page de recrutement.
					li Possibilité pour un modérateur de dépublier un article/sélection 'En direct des forums'.
					li Possibilité de modifier les thèmes d'un sujet existant.
					li Ajout de la page #[a(href="/content/where") Où nous trouver].

		.panel.panel-default
			.panel-heading
				h4 Version 1.0.5
			.panel-body
				ul
					li Fix bug général sous IE 11.
					li Fix bug quand on arrivait sur un topic sans être authentifié.
					li Fix bugs pagination d'un topic.
					li Fix bug d'outils de modération.

		.panel.panel-default
			.panel-heading
				h4 Version 1.0.4
			.panel-body
				ul
					li Ajout description d'auteurs d'article.
					li Préparation de la page d'un membre pour être multi-jeu.
					li Affichage des adresses IP des posteurs forum (droit de modération nécessaire).
					li Système de template de sujet.
					li Le rendu "preview" de l'éditeur markdown est maintenant correct et cohérent avec l'affichage final.
					li Administration: Librairie d'images.
					li Administration: édition de contenu générique.
					
		.panel.panel-default
			.panel-heading
				h4 Version 1.0.3
			.panel-body
				ul
					li Améliorations diverses sur l'affichage mobile.
					li Animations sur mobile pour la navigation forum.
					li Correction apportée au calcul du nombre de vues par sujet.
					li Correction apportée aux liens vers le dernier message d'un sujet.

		.panel.panel-default
			.panel-heading
				h4 Version 1.0.2
			.panel-body
				ul
					li Refonte de la page de #[a(href="/members") Membres].
					li Le logo redirige vers l'accueil, pour Hiblich.
					li Le bouton "citer" scroll la page jusqu'en bas.

		.panel.panel-default
			.panel-heading
				h4 Version 1.0.1
			.panel-body
				ul
					li Ajout de l'édition de sujet (titre/themes). Il faut être l'auteur du sujet ou avoir les droits de modération dans le forum.
					li Ajout des statistiques en bas de la page des forums.
					li Ajout de la page de versions. Vous êtes en train de la lire.
					li Affichage des thèmes sur la page d'un sujet.
					li Changement de l'avatar par défaut.
					li Ajout de la liste des derniers actifs en bas des forums.
					li Correction de la date de dernière activité qui est maintenant beaucoup plus précise.

		.panel.panel-default
			.panel-heading
				h4 Version 1.0.0
			.panel-body
				ul
					li Première version pour les BN evocati
					
		.panel.panel-default
			.panel-heading
				h4 Info techniques
			.panel-body
				ul
					li Environnement: #{environnement}
