extends ../../layouts/default

block content
	
	#version.container: .jumbotron

		.panel.panel-default
			.panel-heading
				h4 Version 3.0.2
			.panel-body
				ul
					li Refonte de la page de #[a(href="/members") #[b Membres]].
					li Le logo redirige vers l'accueil, pour Hiblich.
					li Le bouton "citer" scroll la page jusqu'en bas.
					li Le bouton de recrutement disparait une fois que l'utilisateur est dans au moins un groupe BN

		.panel.panel-default
			.panel-heading
				h4 Version 3.0.1
			.panel-body
				ul
					li Ajout de l'édition de sujet (titre/themes). Il faut être l'auteur du sujet ou avoir les droits de modération dans le forum.
					li Ajout des statistiques en bas de la page des forums.
					li Ajout de la page de versions. Vous êtes en train de la lire.
					li Affichage des thèmes sur la page d'un sujet.
					li Changement de l'avatar par défaut.
					li Ajout de la liste des derniers actifs en bas des forums.
					li Correction de la date de dernière activité qui est maintenant beaucoup plus précise.

		.panel.panel-default
			.panel-heading
				h4 Version 3.0.0
			.panel-body
				ul
					li Première version pour les BN evocati
