@import "variables";

#account-page {
	
	.input-group {
		margin-bottom: 5px;

		.input-group-addon {
			min-width: 170px;
		}
		
	}

	.signinfo {
		text-align: left;
		display: block;
	}
	
	.avatar-container {
		width: 140px;
		.avatar {
			width: 100px;
			height: 100px;
		}
	}
	
	.save-zone {
		text-align: right;
	}
	
	.CodeMirror, .CodeMirror-scroll {
		min-height: 100px;
	}

	.editor-statusbar {
		display: none;
	}
	
}

#recrutement-page {
	.input-group {
		margin-bottom: 5px;

		.input-group-addon {
			min-width: 170px;
		}
	}
}
