@import "variables";

#article {
	.image {
		height: 350px;
		width: 100%;

		background-position: center center;
		background-size: cover;
	}
}

#articles {

	.input-group-addon {
		min-width: 110px;
	}
	
	h4 {
		.right {
			font-size: 65%;
			float: right;
			&:before {
				content: " • ";
			}

			@media (max-width: 525px) {
				& {
					float: none;
					display: block;
					margin: 5px 0 0 5px;
				}
			}
		}
		small {
			margin-left: 5px;
			font-size: 65%;
		}
	}

	hr {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
