#calendar-create-modal {
	span.input-group-addon {
		min-width: 125px;
	}
}

#calendar-event-popup {
	.tags > * {
		margin: 5px;
	}

	.inscription {
		position: absolute;
		bottom: 15px;
		left: 15px;
	}
}

#bn_scheduler {
	.dhx_cal_tab {
		display: none;
	}

	.dhx_cal_date {
		text-align: left;
		padding-left: 25px;
	}

	.dhx_now {
		.dhx_month_head, .dhx_month_body {
			background-color: rgba(133, 37, 37, 0.13);
		}
		.dhx_month_head {
			font-weight: bold;
		}
	}

	.dhx_month_head, .dhx_month_body {
		&:hover {
			cursor: pointer;
		}
	}
	
	.dhx_month_body {
		border-bottom: 2px solid #CECECE;
	}

	// Common
	.dhx_cal_data .dhx_agenda_line, .dhx_cal_event_clear.dhx_cal_event_line_start.dhx_cal_event_line_end, .dhx_cal_event_line.dhx_cal_event_line_start.dhx_cal_event_line_end {
		height: 20px;
		line-height: 20px;
		text-overflow: ellipsis;
		border-radius: 0;

		color: #31708f;
		background-color: #d9edf7;
		border-color: #bce8f1;

		b {
			color: black;
		}

		&.public {
			
		}

		&.birthday {
			background-color: #fcf8e3;
			border-color: #faebcc;
			cursor: default;
			
			&, &:hover, &:hover b {
				color: #8a6d3b;
			}
		}

		&:hover {
			color: $color-bn-red;
			b {
				color: $color-bn-red;
			}
		}

	}

	// Agenda
	.dhx_cal_data .dhx_agenda_line {
		cursor: pointer;
	}

	// Timed events
	.dhx_cal_event_clear.dhx_cal_event_line_start.dhx_cal_event_line_end {
		padding: 0 6px 0 7px;
	}

	// Full day event
	.dhx_cal_event_line.dhx_cal_event_line_start.dhx_cal_event_line_end {

	}
}
