#forum-header {
	border-radius: 8px;
	background: $color-bn-grey-alt;
	padding: 10px;

	hr {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	a {
		font-size: 0.9em;
		margin: 0 7px;
		i {
			margin-right: 5px;
		}
	}
}

#forums-dates {
	position: relative;
	padding: 0 7px;
	margin: 10px 0;
	p {
		margin: 0;
	}
	p:last-child {
		position: absolute;
		top: 0px;
		right: 0px;
	}
}

#forum-quick-actions {

	a {
		margin: 0 7px;
		i {
			margin-right: 5px;
		}
	}

}

.forum-group {
	background: #141414 url(/images/forumbg.gif) repeat-x 0 0;
	margin: 10px 0;
	padding: 5px;
	border-radius: 8px;
	
	.empty {
		text-align: center;
		font-weight: bold;
		color: $color-bn-grey;
	}

	.forum-group-title {
		padding: 4px 0 10px 10px;
		a, span {
			color: white;
			font-weight: bold;
			i {
				margin-right: 5px;
				color: $color-bn-red;
			}
		}

	}

	.forum-category {
		margin: 0;
		padding: 15px;
		border-bottom-color: #ffffff;
		background: url(/images/grunge.png) repeat left top;
		position: relative;
		
		i {
			margin-right: 10px;
			width: 5%;
		}

		.cat-title {
			display: inline-block;
			max-width: 60%;
			.main {
				font-weight: bold;
				font-size: 1.2em;
			}
			.description {
				margin-top: 2px;
				color: $color-bn-red;
				font-size: 0.9em;
			}
		}

		.cat-md, .cat-last {
			position: absolute;
			right: 8px;
			text-align: right;
			font-size: 0.9em;
			max-width: 150px;
		}

		.cat-md {
			top: 7px;
		}
		
		.cat-last {
			bottom: 7px;
			
			.message {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	.forum-category:nth-child(even) {
		background-color: #f1f2f4;
	}
	.forum-category:nth-child(odd) {
		background-color: #fcfcfc;
	}
}
