#forum-header {
	border-radius: 8px;
	background: $color-bn-grey-alt;
	padding: 10px;

	hr {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	a {
		font-size: 0.9em;
		margin: 0 7px;
		i {
			margin-right: 5px;
		}
	}
}

#forums-dates {
	position: relative;
	padding: 0 7px;
	margin: 10px 0;
	p {
		margin: 0;
	}
	p:last-child {
		position: absolute;
		top: 0px;
		right: 0px;
	}
}

#forum-quick-actions {

	a {
		margin: 0 7px;
		i {
			margin-right: 5px;
		}
	}

}

.forum-group {
	background: #141414 url(/images/forumbg.gif) repeat-x 0 0;
	margin: 10px 0;
	padding: 5px;
	border-radius: 8px;

	.empty {
		text-align: center;
		font-weight: bold;
		color: $color-bn-grey;
	}

	.forum-group-title {
		padding: 4px 0 10px 10px;
		a, span {
			color: white;
			font-weight: bold;
			i {
				margin-right: 5px;
				color: $color-bn-red;
			}
		}

	}

	.forum-category {
		margin: 0;
		padding: 15px;
		border-bottom-color: #ffffff;
		background: url(/images/grunge.png) repeat left top;
		position: relative;

		i {
			margin-right: 10px;
			width: 5%;
		}

		.cat-title {
			display: inline-block;
			max-width: 60%;
			.main {
				font-weight: bold;
				font-size: 1.2em;
				.label {
					margin-right: 6px;
					font-size: 60%;
				}
			}
			.description {
				margin-top: 2px;
				color: $color-bn-red;
				font-size: 0.9em;
			}
		}

		.cat-md, .cat-last {
			position: absolute;
			right: 8px;
			text-align: right;
			font-size: 0.9em;
		}

		.cat-md {
			top: 7px;
		}

		.cat-last {
			bottom: 7px;

			.message {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 200px;
			}
		}
	}

	.forum-category:nth-child(even) {
		background-color: #f1f2f4;
	}
	.forum-category:nth-child(odd) {
		background-color: #fcfcfc;
	}
}

#forum-topic {

	.message {
		padding: 0 10px;
		margin-bottom: 4px;
		background-color: #f2f2f2;
		border-radius: 8px;

		.postbody {
			padding: 0;
			line-height: 1.48em;
			color: #333333;
			width: 76%;
			float: right;
			clear: both;
			
			.content {
				margin-top: 5px;
				font-size: 1.1em;
			}
		}

		.postprofile {
			margin: 5px 0 10px 0;
			min-height: 80px;
			color: #666666;
			border-right: 1px solid #FFFFFF;
			border-left: none;
			width: 22%;
			float: left;
			display: inline;

			.avatar {
				max-width: 100%;
				max-height: 140px;
				margin-bottom: 5px;
			}
		}

		&:after {
			clear: both;
			content: " ";
			display: table;
		}
	}
	
	.message:nth-child(odd) {
		background-color: #f5f5f5;
	}
	
}
