#forum-page {
	@media (max-width: 768px) {
		.jumbotron {
			padding: 0;
		}

		.forum-actions .col > .btn {
			display: block;
			margin-bottom: 5px;
		}

		.forum-actions > .btn {
			display: block;
		}

		.row {
			margin: 0;
			.col {
				margin: 0;
				padding: 0;
			}
		}
	}

	.right {
		text-align: right;
	}

	.select2-selection {
		min-height: 32px;
		border-radius: 0;
	}

	.head-foot {
		position: relative;
		.right {
			position: absolute;
			top: 0;
			right: 0;
			.pagination {
				padding-left: 10px;
				margin: 0;
			}
		}

		.flags {
			display: inline;

			& > span {
				margin-right: 3px;
				font-size: 70%;
			}
		}
	}

	.tags-selector {

	}

	#topic-search-go {
		margin-top: 5px;
	}

	#forum-footer {
		h4 {
			border-bottom: solid 1px #CCCCCC;
		}
	}

	.tags-topic {
		margin: -8px 0 10px;
		display: inline;
		.label {
			margin-right: 5px;
		}
	}

	#message-edit-modal {
		.modal-dialog {
			width: 80%;
		}
	}
}

#forum-header {
	background: $color-bn-grey-alt;
	padding: 10px;

	hr {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	a {
		font-size: 0.9em;
		color: $color-bn-black;
		font-weight: normal;
		margin: 0 7px;
		i {
			margin-right: 5px;
		}
	}
}

#forums-dates {
	position: relative;
	padding: 0 7px;
	margin: 10px 0;
	p {
		margin: 0;
	}
}

#forum-quick-actions {

	a {
		margin: 0 7px;
		i {
			margin-right: 5px;
		}
	}

}

.forum-group {
	background: #141414 url(/images/forumbg.gif) repeat-x 0 0;
	margin: 10px 0 20px;
	padding: 5px 0 0 0;

	&.alone {
		margin: 5px 0 5px;
	}

	.empty {
		text-align: center;
		font-weight: bold;
		color: $color-bn-grey;
	}

	.forum-group-title {
		padding: 4px 0 10px 10px;
		a, span {
			color: white;
			font-weight: bold;
			i {
				margin-right: 5px;
				color: $color-bn-red;
			}
		}

		span.right {
			float: right;
			margin-right: 10px;
		}

	}

	ul.list-group {

		max-height: 100px;
		overflow: auto;

		li.list-group-item {
			padding: 5px 10px;
			border-radius: 0;

			small {
				float: right;
			}

			&:nth-child(even) {
				background-color: #f1f2f4;
			}
			&:nth-child(odd) {
				background-color: #fcfcfc;
			}
		}

	}

	.forum-category {
		margin: 0;
		padding: 15px 35px 15px 15px;
		border-bottom-color: #ffffff;
		background: url(/images/grunge.png) repeat left top;
		position: relative;

		.markup {
			top: 36%;
			position: absolute;
			font-size: 2em;
		}

		a.click-mobile {
			top: 0;
			left: 0;
			position: absolute;
			font-size: 2.3em;
			padding: 22px 30px 0 0;
			width: 100%;
			height: 100%;
			text-align: right;
			color: transparent;
			-webkit-transition: color 0.5s, background 0.5s, padding-right 0.5s;
			transition: color 0.5s, background 0.5s, padding-right 0.5s;

			&:focus, &:hover, &:active {
				text-decoration: none;
				color: $color-bn-red;
				background: rgba(1, 1, 1, 0.2);
				padding-right: 15px;
			}

			@media (min-width: 525px) {
				& {
					display: none;
				}
			}
		}

		.fa-comments.unread {
			color: $color-bn-red;
		}

		.cat-title {
			margin-left: 42px;
			display: inline-block;
			max-width: 50%;

			@media (max-width: 525px) {
				& {
					max-width: 100%;
				}
			}

			.flags {
				display: inline;

				& > span {
					margin-right: 3px;
				}
			}

			.main {
				font-weight: bold;
				font-size: 1.2em;
				.label {
					margin-right: 6px;
					font-size: 60%;
				}
			}
			.description {
				margin-top: 2px;
				color: $color-bn-black;
				font-size: 0.9em;

				.tags > span {
					margin-right: 3px;
				}
			}

			.pre {
				.theme {
					margin-right: 5px;
					font-size: 120%;
				}
				
				&:not(:first-child):before {
					content: '• ';
					font-size: 14px;
				}
			}
			
		}

		.cat-md, .cat-last {
			position: absolute;
			right: 8px;
			text-align: right;
			font-size: 0.9em;

			@media (max-width: 525px) {
				& {
					display: none;
				}
			}
		}

		.cat-md {
			top: 7px;
		}

		.cat-last {
			bottom: 7px;

			i {
				margin-left: 5px;
				&.unread {
					color: $color-bn-red;
				}
			}

			.message {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 200px;
				font-style: italic;

				@media (max-width: 768px) {
					& {
						display: none;
					}
				}
			}
		}
	}

	.forum-category:nth-child(even) {
		background-color: #f1f2f4;
	}
	.forum-category:nth-child(odd) {
		background-color: #fcfcfc;
	}
}

#forum-topic {

	margin-top: 5px;

	.message {
		padding: 5px 10px;
		background-color: $color-bn-grey-alt;

		.postbody {
			padding: 0;
			line-height: 1.48em;
			color: #333333;
			width: 76%;
			float: right;
			clear: both;
			position: relative;

			.quote-button.inner {
				display: none;
			}

			@media (max-width: 500px) {
				& .sign {
					display: none;
				}
				& .quote-button.inner {
					display: inline;
				}
				& .quote-button.outer {
					display: none;
				}
			}

			.author {
				margin-bottom: 10px;
				padding-right: 40px;
			}

			.content {
				margin-top: 5px;
				font-size: 14px;
				overflow: auto;
			}

			.original {
				width: 100%;
				height: 150px;
			}

			.actions {
				position: absolute;
				top: 0;
				right: 0;
				button {
					padding: 2px 10px;
				}
			}
		}

		.postprofile {
			margin: 5px 0 10px 0;
			min-height: 80px;
			color: #666666;
			border-right: 1px solid #FFFFFF;
			border-left: none;
			width: 22%;
			float: left;
			display: inline;

			@media (max-width: 500px) {
				& .message-count, & .decorations, & .name {
					display: none;
				}
			}

			.avatar {
				max-width: 100%;
				max-height: 140px;
				margin-bottom: 5px;
			}

			.message-count, .decorations {
				margin-top: 10px;
				font-size: 12px;
			}
		}

		&:after {
			clear: both;
			content: " ";
			display: table;
		}
	}

	.message:nth-child(odd) {
		background-color: #f5f5f5;
	}

}

#forum-topic-create {
	.form-group {
		position: relative;
		.abs_right {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	.form-actions {
		margin-top: 10px;
	}

}
