.main {
	.row {
		margin-left: 0;
		margin-right: 0;
		.col {
			padding: 0;
		}
	}

	.article {

		height: 250px;
		width: 100%;

		position: relative;
		.static, .normal, .anim {
			background-position: center center;
			background-size: cover;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		
		.anim {
			display: none;
		}
		
		&:hover {
			.normal {
				display: none;
			}
			.anim {
				display: block;
			}
		}
		
		.inner {
			height: 100%;
			width: 100%;
			box-shadow: 0px -80px 120px -5px black inset;
			position: relative;
			display: block;

			color: $color-bn-grey-alt;
			transition: color 1s, box-shadow 1s;

			.title {
				position: absolute;
				width: 90%;
				left: 15px;
				bottom: 35px;
				h3 {
					text-shadow: black 0.1em 0.1em 0.1em;
				}
				h5 {
					font-style: italic;
					margin-left: 10px;
				}
			}

			.sub {
				position: absolute;
				width: 90%;
				right: 20px;
				bottom: 15px;
				text-align: right;
			}
		}

		.inner:hover {
			color: white;
			box-shadow: 0px -100px 100px -5px black inset;
			text-decoration: underline;
		}
	}

	.old-articles {

		border-left: solid 3px #9a1616;

		&>.article {
			height: 250px;
		}
	}

	.article.secondary {
		height: 125px;

		.inner {

			box-shadow: 0px -55px 75px 0px black inset;

			.title{
				bottom: 24px;
				h3 {
					font-size: 18px;
					text-shadow: 0 0 0.5em black, 0 0 0.5em black, 0 0 0.5em black;
				}
			}

			.sub {
				font-size: 11px;
			}
		}

		.inner:hover {
			box-shadow: 0px -60px 100px 0px black inset;
		}
	}

	@media (max-width: 525px) {
		.article, .article.secondary {
			height: 125px;
			font-size: 0.8em;
			
			.inner {
				box-shadow: 0px -40px 37px 5px black inset;
				
				&:hover {
					box-shadow: 0px -35px 37px 5px black inset;
				}

				.title{
					bottom: 13px;
					h3 {
						font-size: 16px;
					}
				}

				.sub {
					font-size: 11px;
					right: 8px;
					bottom: 7px;
				}
			}
		}
	}
	
	.forum-direct {
		.intro {
			padding: 4px;
			background-color: $color-bn-red;
			color: $color-bn-grey;
			font-weight: bold;
			text-align: center;
		}
		.row {
			background-color: $color-bn-black-light;
			color: $color-bn-grey-alt;
			
			.selection {
				padding: 10px;
				a {
					color: $color-bn-grey-alt;
				}
				
				&.alt {
					background-color: $color-bn-black-light-alt;
				}
			}
		}
	}
}

#auth-register-modal {
	span.input-group-addon {
		min-width: 180px;
	}
}
