.main {
	.row {
		margin-left: 0;
		margin-right: 0;
		.col {
			padding: 0;
		}
	}

	.article {

		height: 250px;
		width: 100%;

		background-position: center center;
		background-size: cover;

		.inner {
			height: 100%;
			width: 100%;
			background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 50%);
			position: relative;
			display: block;

			color: $color-bn-grey-alt;

			.title {
				position: absolute;
				width: 90%;
				left: 15px;
				bottom: 35px;
				h5 {
					font-style: italic;
					margin-left: 10px;
				}
			}

			.sub {
				position: absolute;
				width: 90%;
				right: 20px;
				bottom: 15px;
				text-align: right;
			}
		}

		.inner:hover {
			color: white;
			background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 60%);
			text-decoration: underline;
		}
	}

	.article.secondary {
		height: 125px;

		.inner {

			background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 100%);

			.title {
				h5 {
					display: none;
				}
			}

			.sub {
				font-size: 0.9em;
			}
		}

		.inner:hover {
			background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 60%);
		}
	}

	@media (max-width: 525px) {
		.article, .article.secondary {
			height: 75px;
			font-size: 0.8em;
			
			.inner {
				background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 100%);
			}

			h3 {
				font-size: 20px;
			}
		}
	}
	
	.forum-direct {
		.intro {
			padding: 4px;
			background-color: $color-bn-red;
			color: $color-bn-grey;
			font-weight: bold;
			text-align: center;
		}
		.row {
			background-color: $color-bn-black-light;
			color: $color-bn-grey-alt;
			
			.selection {
				padding: 10px;
				a {
					color: $color-bn-grey-alt;
				}
				
				&.alt {
					background-color: $color-bn-black-light-alt;
				}
			}
		}
	}
}
