@import "variables";

body {
	background: url(/images/bg.jpg) fixed center top #000000;
	color: $color-bn-black;
	font-family: "Cabin", Helvetica, Arial, sans-serif;
	min-width: 320px;
}

#header {
	margin-top: 20px;
	
	.row {
		margin: 0;
	}

	.logo {
		margin-bottom: 15px;
		width: 100%;
		height: 100%;
		max-width: 405px;
	}

	.giffle {
		margin-top: 10px;
		text-align: right;
		color: $color-bn-grey-alt;

		.title {
			font-weight: bold;
			color: $color-bn-red;
		}
		.content {
			font-style: italic;
		}
		a {
			color: $color-bn-red;
		}

		@media (max-width: 992px) {
			& {
				display: none;
			}
		}
	}
}

#notifications {
	min-height: 25px;
	width: 100%;
	background: $color-bn-red;
	padding: 5px 10px;
	color: $color-bn-grey-alt;
	text-align: right;
	a {
		margin: 0 10px;
		color: $color-bn-grey-alt;
		i {
			margin-right: 5px;
		}
		&:focus, &:hover, &:active {
			color: $color-bn-grey;
		}

		@media (max-width: 525px) {
			.detail {
				display: none;
			}
		}
	}
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: $color-bn-grey;
	text-align: center;
	a {
		color: $color-bn-grey-alt;
	}
}

.jumbotron {
	padding: 10px;
	margin-bottom: 20px;

	p {
		font-size: 14px;
	}

	h1 {
		font-family: "Oswald", Helvetica, Arial, sans-serif;
		margin: 0px 0 25px;
		text-transform: uppercase;
		color: $color-bn-red;
	}

	b, strong {
		color: $color-bn-red;
	}

	img {
		max-width: 100%;
	}

	@media (min-width: 768px) { 
		& {
			padding-top: 30px;
		}
	}

	@media (max-width: 992px) {
		& {
			padding: 15px;
		}
	}
}

.container {
	@media (max-width: 768px) {
		& {
			padding: 0;
		}
	}
}

.container .jumbotron {
	border-radius: 0;
	@media (max-width: 992px) {
		& {
			padding: 30px;
		}
	}
}


blockquote {
	background: rgba(0, 0, 0, 0.11);
	border-radius: 5px;
	font-style: italic;
	border-left: 9px solid $color-bn-red;
}

hr {
	border-top: 1px solid $color-bn-red;
}

a {
	cursor: pointer;
	color: $color-bn-black;
}

a:hover, a:active {
	color: $color-bn-red;
}

.navbar, .navbar-default {
	background: $color-bn-black-light;
	margin-bottom: 0;
	border: none;

	.navbar-nav > li > a {
		color: $color-bn-grey-alt;

		&:focus, &:hover {
			color: $color-bn-grey;
		}
	}

	.navbar-nav > .active > a {
		&, &:hover, &:focus {
			background-color: $color-bn-red;
			color: $color-bn-grey;
			font-weight: bold;
		}
	}

	.navbar-nav > .open > a {
		&, &:hover, &:focus {
			background-color: $color-bn-black-light-alt;
			color: $color-bn-grey-alt;
		}
	}

	.dropdown-menu {
		background-color: $color-bn-black-light-alt;
		top: 99%;

		& > li > a {
			color: $color-bn-grey-alt;

			&:hover, &:focus, &:active {
				background-color: $color-bn-black-light;
				color: $color-bn-grey;
			}

			@media (max-width: 767px) {
				& {
					color: $color-bn-grey-alt !important;
				}
				&:hover, &:focus, &:active {
					background-color: $color-bn-black-light !important;
					color: $color-bn-grey !important;
				}
			}
		}
	}
}

.alert {
	margin-bottom: 0;
	border-radius: 0;
}

.btn {
	border-radius: 0;
	border: none;

	&.btn-default, &.btn-default[disabled]:hover {
		color: $color-bn-grey-alt;
		background-color: $color-bn-red;
	}
}

.thumbnail {
	background-color: $color-bn-red;
}

@media (min-width: 768px) {
	.navbar {
		border-radius: 0;
	}
}
