@import "variables";

body {
	background: url(/images/bg.jpg) fixed center top #000000;
	color: $color-bn-black;
	font-family: "Cabin", Helvetica, Arial, sans-serif;
	min-width: 320px;

	a {
		font-weight: bold;
		color: $color-bn-red;
	}
}

#header {
	margin-top: 20px;

	a.navbar-brand-mobile {
		display: none;
	}

	.navbar {
		.container-fluid {
			padding: 0;
			@media (max-width: 768px) {
				& > .navbar-header {
					margin: 0;
				}

				& > .navbar-collapse {
					margin: 0;
				}
			}
		}
		.navbar-collapse {
			padding: 0;
		}

		.navbar-nav {
			margin: 0;
			a {
				font-weight: normal;
			}
		}

		.navbar-toggle {
			margin-right: 20px;
		}
	}

	@media (max-width: 768px) {
		& {
			margin-top: 0;
		}

		a.navbar-brand-mobile {
			display: inline;
		}
	}

	.nav > li > a {
		@media (max-width: 992px) {
			& {
				font-size: 12px;
				padding: 10px 8px;
				line-height: 30px;
			}
		}
	}

	.row {
		margin: 0;
	}

	.logo {
		margin-bottom: 15px;
		width: 100%;
		height: 100%;
		max-width: 405px;

		@media (max-width: 768px) {
			& {
				display: none;
			}
		}
		@media (max-width: 992px) {
			& {
				max-width: 205px;
			}
		}
	}

	.giffle {
		margin-top: 10px;
		text-align: right;
		color: $color-bn-grey-alt;

		.title {
			font-weight: bold;
			color: $color-bn-red;
		}
		.content {
			font-style: italic;
		}
		a {
			color: $color-bn-red;
		}

		@media (max-width: 992px) {
			& {
				display: none;
			}
		}
	}
}

#notifications {
	min-height: 25px;
	width: 100%;
	background: $color-bn-red;
	padding: 5px 10px;
	color: $color-bn-grey-alt;
	text-align: right;
	a {
		margin: 0 10px;
		color: $color-bn-grey-alt;
		font-weight: normal;
		i {
			margin-right: 5px;
		}
		&:focus, &:hover, &:active {
			color: $color-bn-grey;
		}

		@media (min-width: 525px) {
			.simple {
				display: none;
			}
		}
		@media (max-width: 525px) {
			.detail {
				display: none;
			}
		}
	}
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: $color-bn-grey;
	text-align: center;
	a {
		color: $color-bn-grey-alt;
	}
}

.jumbotron {
	padding: 10px;
	margin-bottom: 20px;

	p {
		font-size: 16px;
	}

	h1 {
		font-family: "Oswald", Helvetica, Arial, sans-serif;
		margin: 0 0 25px;
		color: $color-bn-red;
		font-size: 40px;

		@media (max-width: 525px) {
			& {
				font-size: 30px;
			}
		}
	}

	b, strong {
		color: $color-bn-red;
	}

	img {
		max-width: 100%;
	}

	@media (max-width: 525px) {
		h2 {
			font-size: 22px;
		}
	}

	@media (min-width: 768px) {
		& {
			padding-top: 30px;
		}
	}

	@media (max-width: 992px) {
		& {
			padding: 15px;
		}
	}
}

.container {
	@media (max-width: 768px) {
		& {
			padding: 0;
		}
	}

	@media (width: 768px) {
		& {
			width: auto;
			.navbar > .container-fluid .navbar-brand {
				margin-left: 0px;
			}
		}
	}
}

.container .jumbotron {
	border-radius: 0;
	@media (max-width: 992px) {
		& {
			padding: 30px;
		}
	}

	@media (max-width: 768px) {
		& .sub-header {
			padding: 0 10px;
		}
	}

}

blockquote {
	background: rgba(0, 0, 0, 0.11);
	border-radius: 5px;
	font-style: italic;
	border-left: 5px solid $color-bn-red;
	padding: 10px 15px;

	font-size: $font-size-base;

	hr {
		margin-top: 0;
		margin-bottom: 10px;
	}

	p {
		margin-bottom: 5px;
	}
}

hr {
	border-top: 1px solid $color-bn-red;
}

a {
	cursor: pointer;
	color: $color-bn-black;
}

a:hover, a:active {
	color: $color-bn-red;
}

.navbar, .navbar-default {
	background: $color-bn-black-light;
	margin-bottom: 0;
	border: none;

	.navbar-nav > li > a {
		color: $color-bn-grey-alt;

		&:focus, &:hover {
			color: $color-bn-grey;
		}
	}

	.navbar-nav > .active > a {
		&, &:hover, &:focus {
			background-color: $color-bn-red;
			color: $color-bn-grey;
			font-weight: bold;
		}
	}

	.navbar-nav > .open > a {
		&, &:hover, &:focus {
			background-color: $color-bn-black-light-alt;
			color: $color-bn-grey-alt;
		}
	}

	.dropdown-menu {
		background-color: $color-bn-black-light-alt;
		top: 99%;

		& > li > a {
			color: $color-bn-grey-alt;

			&:hover, &:focus, &:active {
				background-color: $color-bn-black-light;
				color: $color-bn-grey;
			}

			@media (max-width: 767px) {
				& {
					color: $color-bn-grey-alt !important;
				}
				&:hover, &:focus, &:active {
					background-color: $color-bn-black-light !important;
					color: $color-bn-grey !important;
				}
			}
		}
	}
}

.alert {
	margin-bottom: 0;
	border-radius: 0;
}

.btn {
	border-radius: 0;
	border: none;

	&.btn-default, &.btn-default[disabled]:hover {
		color: $color-bn-grey-alt;
		background-color: $color-bn-red;
	}
}

.label.label-default {
	background-color: $color-bn-red;
}

.thumbnail {
	background-color: $color-bn-red;
}

@media (min-width: 768px) {
	.navbar {
		border-radius: 0;

		.navbar-right .dropdown-menu {
			right: -1px;
		}

	}
}

@media (max-width: 768px) {
	h2 {
		font-size: 26px;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 15px;
	}
}

@media (max-width: 450px) {
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 18px;
	}
	h4 {
		font-size: 14px;
		font-weight: bold;
	}
}

.pagination > li > a, .pagination > li > span, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
	color: $color-bn-grey-alt;
	background-color: $color-bn-black-light-alt;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus {
	color: $color-bn-grey-alt;
	background-color: $color-bn-red;
	border-color: #ffffff;
}

.alert-bn {
	background-color: rgba(133, 37, 37, 0.13);
	border-color: $color-bn-grey;
}

input.invalid {
	background-color: $color-field-invalid;
}

img.medal-icon, img.medal {
	height: 24px;
	width: 24px;
}

.center {
	text-align: center;
}

.righted {
	text-align: right;
}

.panel-default > .panel-heading {
	color: $color-bn-grey;
	background-color: $color-bn-black-light;
}

.modal-content, .input-group-addon {
	border-radius: 0;
}

.CodeMirror {
	.editor-preview {
		a {
			font-weight: bold;
			color: $color-bn-red;
		}
	}
}

.editor-md {

	background: white;
	width: 100%;

	textarea {
		border-radius: 0;
		border-left: none;
		border-right: none;
	}

	&.embedable {
		border: 1px solid #ccc;

		textarea {
			border-width: 0 0 1px 0;
		}
	}

	.preview {
		padding: 10px;
		min-height: 150px;
		border-bottom: 1px solid #ccc;
	}
}

.editor-toolbar {
	input {
		height: 28px;
	}
}

.gif-preview {
	height: 100px;
	cursor: pointer;
}
