#members {
	position: relative;
	
	.user {
		position: relative;
		padding-left: 25px;
		
		img {
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	.username {
		margin-top: 3px;
	}
	
	.edit {
		position: absolute;
		top: 5px;
		right: 20px;
	}

	.edit-admin {
		position: absolute;
		top: 40px;
		right: 20px;
	}
}

#characters {
	.frame {
		text-align: center;
	}
}
