$timeline-path: .25em;
$timeline-offset: 3em;
$timeline-node: 1em;
$timeline-alphaomega: $timeline-node;

#timeline {
	.jumbotron {
		padding-bottom: 20px;

		.today {
			color: $color-bn-red;
		}
		
		.frst-timeline-block {
			padding-left: 30px;
			padding-right: 30px;
		}

		.frst-container {
			padding: 40px 0;
			
			.frst-date {
				font-size: 0.9em;
			}
		}
		
	}
}


