// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;
$color-bn-red: #9a1616;
$color-bn-black: #1e1e1e;
$color-bn-grey: #eeeff0;
$color-bn-grey-alt: #DCDEE2;
$color-bn-black-light: #3a3434;
