extends ../../layouts/default

block content
	.container: .jumbotron

		include header.pug

		#forums-dates
			p Nous sommes le #{today}
			p Dernière visite: #{last_visit}

		#forum-categories
			each group in groupOrder
				div(class="forum-group")
					div(class="forum-group-title")
						a
							i(class="fa fa-caret-right")
							= group
					each forum in groups[group]
						div(class="forum-category")
							i(class="fa fa-comments fa-lg")

							.cat-title
								a(class="main" href=("/forum/" + forum.key))
									= forum.name
								br
								.description=forum.description

							.cat-md
								= forum.topics
								|  sujets • #{messages_count} messages

							.cat-last
								a [DATE] 
								| par 
								a [USER]
								.message [Aperçu texte du dernier message ...]
