#forum-header
	a(href="/forums")
		i(class="fa fa-home")
		| Index des forums
	hr
	a
		i(class="fa fa-search")
		| Rechercher
	| • 
	a
		i(class="fa fa-eye")
		| Voir les messages non lus
	| •
	a
		i(class="fa fa-check-square-o")
		| Marquer tous les forums comme lus
