#calendar-event-popup(style="display: none;")
	.modal-dialog(style="width: auto;")
		.modal-content
			.modal-header
				h4.modal-title#calendar-event-popup-title Modal Header
			#calendar-event-popup-body.modal-body
				p Some text in the modal.
			if user
				.modal-footer
					button.btn.btn-warning(type='button')#calendar-event-popup-edit Modifier
					.btn-group
						button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown')
							| Notifications 
							span.caret
						ul.dropdown-menu
							li
								a.action()#calendar-event-popup-notify Annoncer sur Discord
							li
								a.action()#calendar-event-popup-pm Messages aux inscrits
					
					button.btn.btn-danger(type='button')#calendar-event-popup-delete Supprimer
				
				if user
					.btn-group.inscription#calendar-event-popup-statut
						button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
							| Inscription 
							span.caret
						ul.dropdown-menu
							li
								a.action(actionType="present") Accepter
							li
								a.action(actionType="maybe") Peut-être
							li
								a.action(actionType="away") Refuser
