#calendar-event-popup.modal.fade(role='dialog')
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal') ×
				h4.modal-title#calendar-event-popup-title Modal Header
			#calendar-event-popup-body.modal-body
				p Some text in the modal.
			.modal-footer
				button.btn.btn-warning(type='button')#calendar-event-popup-edit Modifier
				button.btn.btn-info(type='button')#calendar-event-popup-notify Annoncer
				button.btn.btn-danger(type='button')#calendar-event-popup-delete Supprimer
				button.btn.btn-default(type='button', data-dismiss='modal') Fermer
				
				if user
					.btn-group.inscription#calendar-event-popup-statut
						button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
							| Inscription 
							span.caret
						ul.dropdown-menu
							li
								a.action(actionType="present") Accepter
							li
								a.action(actionType="maybe") Peut-être
							li
								a.action(actionType="away") Refuser
