include ../widget/markdown_editor

#calendar-create-modal.modal.fade(role='dialog')
	.modal-dialog(style="width: 90%")
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal') ×
				h4.modal-title#add-edit-title
			.modal-body
				.row
					.col.col-md-6
						.input-group
							span.input-group-addon Titre
							input#calendar-create-title.form-control(type='text')
						.input-group
							span.input-group-addon Description
							+editor("calendar-create-description", 5, nil, "", true)
						.input-group.date
							span.input-group-addon Début
							input#calendar-create-start-date.form-control(type='text')
						.input-group.date
							span.input-group-addon Fin
							input#calendar-create-end-date.form-control(type='text')
						.input-group
							span.input-group-addon Événement public
							span.input-group-addon
								input#calendar-create-public(type='checkbox')
						small: i Un événement public sera visible par tout le monde. Un événement privé ne sera vu que par les invités.
						hr
						
						
					.col.col-md-6
						h4 Notifications Discord
						.input-group
							span.input-group-addon Notifications des inscriptions
							span.input-group-addon
								input#calendar-notification(type='checkbox')
						small: i  L'auteur de l'événement sera notifié en MP Discord à chaque modification d'une inscription.
		
		
						hr
						h4 Invitations
						small: i Les membres invités et ayant indiqué leur ID Discord sur leur page de configuration de compte recevrons une notification par MP sur Discord.
						.input-group
							span.input-group-addon Utilisateurs
							select.form-control#calendar-create-invite-users(multiple)
								each user in users
									option(value=user._id) #{user.username}
						.input-group
							span.input-group-addon Groupes
							select.form-control#calendar-create-invite-groups(multiple)
								each group in groups
									option(value=group._id) #{group.name}

			.modal-footer
				button.btn.btn-default(type='button' data-dismiss='modal') Annuler
				button.btn.btn-primary(type='button' id="calendar-create-modal-button") Confirmer
