extends ../../layouts/default

block content
	#error-page.container: .jumbotron
		h1 Oops ...
		p.lead Désolé, une erreur (500) s'est produite.
		.alert.alert-warning Vous voulez aider à l'amélioration de cette plateforme ? Venez nous rapporter les erreurs sur le forum ou sur Discord (MP à Kaji).
			br
			| => 
			a(href="/forum/suggestions") Le forum BN
			|  <=
			br
			| Indiquez y les informations de cette page et expliquez brièvement ce que vous étiez en train de faire.
			br
			strong Merci !
			
		if errorTitle
			.alert.alert-danger Erreur: "#{errorTitle}"
				if errorMsg
					br
					| Détails: "#{errorMsg}"
			
		button(data-toggle="collapse" data-target="#error-details" class="btn btn-warning") Clic pour plus de détails
		#error-details(class="collapse")
			textarea= err || "No associated err"
		
		
